<!doctype html>
<html>
<head>
    <link href="{{stylesheet}}" rel="stylesheet" type="text/css">
    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titan+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre">
    <!-- end Google fonts -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://kit.fontawesome.com/d10979be3a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body style="background-color: whitesmoke">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://github.com/walimorris/Foster" target="_blank">Foster</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/locations">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{{{body}}}

<footer class="bg-dark text-center text-white">
    <div class="container p-4">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>
        <section class="">
            <form id="email-subscriptions-form" action="/api/emailSubscriptions" method="post">
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <div class="col-md-5 col-12">
                        <div class="form-outline form-white mb-4">
                            <input type="hidden" name="page" value="{{whichPage}}">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <input type="email" id="email-subscription" name="emailSubscriber" class="form-control"/>
                            <label id="email-subscription-form-label" class="form-label" for="email-subscription">{{subscribeMessage}}</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button id="email-subscriptions-button" type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                </div>
            </form>
        </section>
        <section class="mb-4">
            <p>
                Foster Awareness strives to contribute to the awareness of foster children
                throughout America. Being a foster parent or adopting a child is an extremely
                rewarding and involved process. We've put together resources to help parents
                who want to take the next step in helping America's children.
            </p>
        </section>
        <section class="footer_links">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Technology</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a id="footer_links__technology" href="#" class="text-white">Learn about our technology</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Learn</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a id="footer_links__p-resources" href="#!" class="text-white">Foster Parent Resources</a>
                        </li>
                        <li>
                            <a id="footer_links__a_resources" href="#!" class="text-white">Adoption Resources</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Foster Awareness</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a id="footer_links__about" href="/about" class="text-white">About</a>
                        </li>
                        <li>
                            <a id="footer_links__contribute" href="https://github.com/walimorris/Foster" target="_blank" class="text-white">Contribute</a>
                        </li>
                        <li>
                            <a id="footer_links__policy" href="#!" class="text-white">Privacy Policy</a>
                        </li>
                        <li>
                            <a id="footer_links__terms" href="#!" class="text-white">Terms of Use</a>
                        </li>
                        <li>
                            <a id="footer_links__cookie" href="#!" class="text-white">Cookie Policy</a>
                        </li>
                        <li>
                            <a id="footer_links__contact" href="#!" class="text-white">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" target="_blank" href=https://github.com/walimorris/Foster>Foster Awareness</a>
    </div>
    <script src="https://account.snatchbot.me/script.js"></script>
    <script>window.sntchChat.Init({{botId}})</script>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascripts/emailSubscriptions.js" type="text/javascript"></script>
<script src="/javascripts/cityMap.js" type="text/javascript"></script>
{{#if hasGoogleMap}}
    <script src="https://maps.googleapis.com/maps/api/js?key={{googleApi}}&libraries=places"></script>
{{/if}}
<script src="{{pageScript}}" type="text/javascript"></script>
</body>
</html>